*{
	margin: 0;
	padding: 0;
}

body{
	font-family: arial, helvetica, sans-serif;
	background-color: black;
}

.container{

	max-width: 1000px;
	margin: auto;

}

header{
	background-color: #48c5ce;
	padding: 10px;
	text-align: center;
	color: white;

}

section{

	padding: 20px;
	background-image: url(people.jpg);
	background-size: cover;
	overflow: hidden;
}


.title{
	text-align: center;
	font-size: 26px;

}

.containerform{

	max-width: 230px;
	background-color: #ffffffbb;
	float: right;
	padding: 20px;

}

h2{
	font-size: 16px;

}

.mb{

	margin-bottom: 15px;
}

input, select{

	width: 100%;
	border: none;
	box-sizing: border-box;
	margin-bottom: 10px;
	padding: 10px;

}

input[type="submit"]{
	background-color: #48c5ce;
	color: white;
	text-align: center;
	font-weight: bold;


}

input:active[type="submit"]{

	background-color: #ffffffbb;
	color: #48c5ce;
}

footer{
	background-color: #202121;
	text-align: center;
	padding: 40px;
}


.picture{

	max-width: 160px;

}

.description{
	color: white;
	display: inline-block;
	max-width: 40%;
	margin-left: 40px;
	text-align: justify;
}

.description p, .description h3{

	margin-bottom: 20px;
}
.description h3{
	font-size: 24px;
}